
.in-progress-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .in-progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .in-progress-title {
    display: flex;
    align-items: center;
  }
  
  .in-progress-title img {
    width: 24px;  
    margin-right: 10px;  
  }
  
  .in-progress-title h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .in-progress-actions {
    display: flex;
    align-items: center;
  }
  
  .in-progress-actions .in-progress-icon {
    width: 24px;  
    margin-left: 15px; 
    cursor: pointer;  
  }
  
  ul {
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 15px;
  }
  
  li h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  li p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  p {
    font-size: 16px;
    color: gray;
  }
  .tickets{
    background-color: aquamarine;
    margin-top: 30px;
    padding: 10px;
  }